<div class="row breadcrumb-row">
	<div class="container">
		<ol class="breadcrumb" style="margin-bottom:0px">
		  	<li class="breadcrumb-item"><a href="/"><%= appText.lines.breadcrumbs.events.link_event %></a></li>
			<li class="breadcrumb-item active"><%= appText.lines.titles.events.pageTitle %></li>
		</ol>
	</div>
</div>
