<nav class="navbar navbar-dark bg-primary">
	<div class="container">
	  <a href="" class="navbar-brand" style="font-weight:bold;color:#ffffff;text-align:left"><%= appText.lines.titles.siteTitle %> - <%= appText.lines.titles.events.pageTitle %></a>
	</div>
</nav>